<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the NBA Monitor</h1>
        <h2>Load Section</h2>
        <ul>
            <li><a href="/loadTeam">Load a Team</a></li>
        </ul>
        <h2>Manage Players</h2>
        <ul>
            <li><a href="/addPlayer">Add a Player</a></li>
            <li><a href="/searchRoster">Search Team Roster</a></li>
            <li><a href="/searchPlayer">Search for a Player</a></li>
        </ul>
        <h2>Remove Section</h2>
        <ul>
            <li><a href="/removePlayers">Remove All Players</a></li>
            <li><a href="/removeTeams">Remove All Teams</a></li>
        </ul>
    </div>
</body>
</html>