<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Search for a Player</title>
</head>
<body>
    <h1>Search for a Player</h1>
    <form action="/searchPlayer" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter First Name">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name">
        <br>
        <button type="submit">Search Player</button>
    </form>
    <a href="/">Home</a>
</body>
</html>